header {
    background: var(--black);
    position: relative;
    z-index: 2;
}

.nav {
    grid-column: span var(--grid-columns);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav__burger {
    position: relative;
    padding: 6px;
}

.nav__burger:hover,
.nav__burger:focus {
    background: rgba(255, 255, 255, 25%);
    border-radius: 50%;
}

.nav__burger svg {
    color: white;
}

.nav__links {
    display: none;
    /*text-transform: uppercase;*/
    font-size: var(--font-sm);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .nav__burger {
        display: none;
    }

    .nav__links {
        display: flex;
        align-items: center;
    }
}

.nav__links > li > a {
    height: 36px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    border-radius: var(--border-radius);
}

.nav__links > li > a::after {
    content: '';
    height: 100%;
    width: 100%;
    right: 0;
    background: var(--brand-color);
    position: absolute;
    border-radius: var(--border-radius);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.25s cubic-bezier(0.79, 0.01, 0.22, 0.99) 0s,transform-origin 0s step-end 0.25s;;
}

.nav__links > li > a:hover::after,
.nav__links > li > a:focus::after {
    transform: scaleX(1);
    transform-origin: right center;
}

.nav__links > li > a {
    padding-inline: 12px;
}
