.overlay {
    position: fixed;
    height: 100vh;
    width: 100vh;
    background: black;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.drawer {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    right: -80%;
    background: var(--black);
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.drawer__close {
    padding: 6px;
}

.drawer__close:hover,
.drawer__close:focus {
    background: rgba(255, 255, 255, 25%);
    border-radius: 50%;
}

.drawer__links {
    font-weight: bold;
}

.drawer__links > li > a {
    position: relative;
    padding: 12px var(--page-padding);
    display: flex;
    align-items: center;
}

.drawer__links > li > a:hover,
.drawer__links > li > a:focus {
    background: var(--brand-color);
    color: var(--black);
}

.drawer__links > li > a > svg {
    margin-right: 12px;
}

.drawer__links > li > a:hover > svg,
.drawer__links > li > a:focus > svg {
    color: var(--black);
}
