.films {
    padding-top: var(--page-padding);
    padding-bottom: calc(var(--page-padding) * 2);
}

.films__title {
    margin-bottom: var(--page-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--black);
    gap: 12px;
}

.films__controls {
    display: flex;
    justify-content: end;
}

.films__controls > button {
    color: black;
}

.films__controls > button:not(:first-child) {
    margin-left: 12px;
}

.films__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

@media screen and (min-width: 768px) {
    .films__list {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .films__title > h2 {
        font-size: 2rem;
    }

    .films__list {
        grid-template-columns: repeat(5, 1fr);
    }
}
