.film-card {
    background: #445566;
    background: var(--black);
    grid-column: span 1;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.film-card > a > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.film-card__info {
    display: none;
    font-size: var(--font-sm);
    padding: 6px;
}

.film-card__info > h3 {
    margin: 6px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.film-card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.film-card__rating {
    display: flex;
    align-items: center;
    color: var(--brand-color);
}

.film-card__rating > svg {
    color: var(--brand-color);
    margin-right: 3px;
}

.film-card__controls {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .film-card__info {
        display: block;
    }
}
