.film-card {
    background: #445566;
    background: var(--black);
    grid-column: span 1;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.film-card > a {
    flex-grow: 1;
}

.film-card > a > img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.film-card__info {
    display: none;
    font-size: var(--font-sm);
    padding: 6px;
}

.film-card__info > h3 {
    margin: 6px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
}

.film-card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.film-card__rating {
    display: flex;
    align-items: center;
    color: var(--brand-color);
}

.film-card__rating > svg {
    width: 20px;
    height: 20px;
}

.film-card__rating > svg {
    color: var(--brand-color);
    margin-right: 3px;
}

.film-card__watchlist {
    cursor: pointer;
}

.film-card__watchlist > svg {
    width: 20px;
    height: 20px;
}

.film-card__watchlist:hover > svg {
    color: var(--green);
}

@media screen and (min-width: 768px) {
    .film-card__info {
        display: block;
    }
}
