footer {
    background: var(--black);
    padding-top: var(--page-padding);
    padding-bottom: var(--page-padding);
    font-size: var(--font-sm);
    text-align: center;
    line-height: 1.5;
}

footer span {
    color: var(--black);
    font-family: var(--font-logo);
    background: var(--brand-color);
    font-weight: bold;
    padding: 3px;
    border-radius: var(--border-radius);
    margin-right: 2px;
}

footer a {
    text-decoration: underline;
    text-underline-position: under;
}
