html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --font-sans-serif: 'Robot', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-logo: 'Fjalla One', sans-serif;
  --font-sm: 0.875rem;
  --font-regular: 1rem;
  --brand-color: #ebbd18;
  --brand-color-dark: rgb(210, 166, 10);
  --black: #14181c;
  --another-black: #1a1f34;
  --not-quite-black: #21273e;
  --gray: #8f8f8f;
  --page-padding: 20px;
  --grid-columns: 4;
  --grid-gap: 5px;
  --border-radius: 4px;
}

@media screen and (min-width: 768px) {
  :root {
    --page-padding: 40px;
    --grid-columns: 8;
    --grid-gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --grid-gap: 20px;
    --grid-columns: 12;
  }
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: var(--font-regular);
  color: white;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: var(--black) default;
  text-decoration: none;
}

a[class~='button-primary'] {
  line-height: 36px;
}

a[class~='button-secondary'] {
  line-height: 32px;
}

a:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

input {
  width: 100%;
  max-height: 36px;
  padding: 10px 72px 10px 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
  color: var(--black);
}

input:focus {
  border: 1px solid var(--brand-color);
  outline: 2px solid var(--brand-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
  color: white;
}

.container {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-gap: var(--grid-gap);
  align-items: baseline;
}

.button {
  display: inline-block;
  font-size: var(--font-sm);
  border-radius: var(--border-radius);
  height: 36px;
  padding-inline: 6px;
  cursor: pointer;
  width: fit-content;
}

.button-primary {
  background: var(--brand-color);
  color: var(--black);
}

.button-primary:hover,
.button-primary:focus {
  background: var(--brand-color-dark);
}

.button-secondary {
  background: transparent;
  border: 2px solid var(--brand-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background: var(--brand-color);
}

.button-active {
  background: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .button {
    padding-inline: 12px;
    font-size: var(--font-regular);
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide-for-desktop {
  display: block;
}

.show-for-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }

  .show-for-desktop {
    display: block;
  }
}
