html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --font-sans-serif: 'Robot', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-sm: 0.875rem;
  --font-regular: 1rem;
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
}
